@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Dear users, we have updated SF Privacy Policy with regard to protection of children’s personal information. By this update, we clarified our way of collecting and using children’s personal information and established a system of assigning a dedicate person responsible for protection of children’s personal information.</p>
<p>Last updated: December 6, 2019</p>
<p>If you have any question, advice or suggestion, please contact us in the following manner:</p>
<p>Tel: 95338</p>
<p><strong>Note</strong></p>
<p><strong>This Policy applies to your use of the logistics services provided by S.F. Express Co., Ltd. and its affiliates (hereinafter collectively referred to as “SF”). SF has always attached great importance to the protection of customers’ personal information. Before you use SF’s services, be sure to carefully read and understand this Policy, especially the clauses in bold. When you use SF’s services, or continue to use SF’s services after update of this Policy, you will be deemed to have read, understood and consented to this Policy and its updated version</strong><strong>,</strong><strong> and have agreed that we may process your personal information according to this Policy. If you </strong><strong>don</strong><strong>’</strong><strong>t agree</strong><strong> to any clause of this Policy, you shall immediately stop using SF’s services.</strong></p>
